/* Split the screen */
.split {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(211, 206, 206);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(248, 178, 178);
  }
  
  /* Separator between Left and Right components */
  .separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
/* prevent browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }